{% extends "base.html.twig" %}
{% block pagetitle %}Ajout d'une Annonce
{% endblock %}
{% set compteur = 1 %}
{% block css %}
	<link rel="stylesheet" href="public/css/style.css">
	<link rel="stylesheet" href="public/css/style-form.css">
{% endblock %}
{% block header %}
	<navbar>
		<a href="../"><img class="logo" src="public/img/logo.png" ></a>
		<span>Vendez vos stocks!!</span>
		<a class="nav" href="../">RETOUR</a>
	</navbar>
{% endblock %}
{% block recherche %}{% endblock %}

{% block body %}
	<main>
		<form action="" method="post" url="/upload-picture"  enctype='multipart/form-data'>
			<div class="containerForm">
				<div class="card1">
					<label for="titre">Titre:
					</label>
					<input type="text" name="nom" id="titre" placeholder="Titre de l'annonce" required><br>
					<label for="categorie">Catégorie:
					</label>
					<input type="text" name="categorie" id="catégorie" placeholder="categorie" ><br>
					<label for="prix">Prix:
					</label>
					<input type="number" name="prix" id="prix" placeholder="prix" min="0" step="any" required><br>
				</div>
				<div class="card1">
					<label for="description">Description:</label>
					<textarea type="description" name="description" id="description">Description de l'annonce</textarea><br>
					<label for="email">Email:</label>
					<input type="mail" name="email" id="email" placeholder="email pour vous joindre" required><br>
				</div>
			</div>
			<div class="containerImage">
				{% for i in 1..5 %}
					<div class="card{{i}}">
						<label for="image{{i}}">
							<input class="inputimage" type="file" onchange="handleFiles(files,{{i}})" id="image{{i}}" name="image{{i}}">
							<span id="preview{{i}}"><img class="vignette" src="public/img/vide.jpg" alt="vide" srcset=""></span>
						</label>
					</div>
				{% endfor %}
			</div>
			<div class="containerBoutton">
					<button type="submit">Envoyer</button>
					<button type="reset">Annuler</button>
			</div>
		</div>

	</form>

</main>{% endblock %}{% block script %}
<script >
	function handleFiles(files,valeur) {
	var imageType = /^image\//;
	for (var i = 0; i < files.length; i++) {
	var file = files[i];
	if (! imageType.test(file.type)) {
	alert("veuillez sélectionner une image");
	} else {
	if (i == 0) {
		switch (valeur){
			case 1:
				preview1.innerHTML = '';
				break;
			case 2:
				preview2.innerHTML = '';
				break;
			case 3:
				preview3.innerHTML = '';
				break;
			case 4:
				preview4.innerHTML = '';
				break;
			case 5:
				preview5.innerHTML = '';
				break;
		}
		
	}
	var img = document.createElement("img");
	img.classList.add("obj");
	img.file = file;
	switch (valeur){
			case 1:
				preview1.appendChild(img);
				break;
			case 2:
				preview2.appendChild(img);
				break;
			case 3:
				preview3.appendChild(img);
				break;
			case 4:
				preview4.appendChild(img);
				break;
			case 5:
				preview5.appendChild(img);
				break;
		}
	
	var reader = new FileReader();
	reader.onload = (function (aImg) {
	return function (e) {
	aImg.src = e.target.result;
	};
	})(img);

	reader.readAsDataURL(file);
	}

	}
	}
/*function handleFiles2(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview2.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview2.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles3(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview3.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview3.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles4(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview4.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview4.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);

}

}
}
function handleFiles5(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview5.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview5.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}*/
</script>{% endblock %}{% block footer %}
<footer></footer>{% endblock %}

