{% extends "base.html.twig" %}
{% block pagetitle %}Accueil
{% endblock %}


{% block header %}
	<navbar>
<a class="nav" href="../Otroc/">LOGO</a>
		<span>SLOGAN</span>
		<a class="nav" href="ajout/creation">AJOUT</a>
	</navbar>
{% endblock %}
{% block recherche %}
{% set nbannonce = 0 %}
{% for annonce in annonces %}
	{% set nbannonce = nbannonce + 1 %}
{% endfor %}


	<div class="containerRecherche">
<h1>
	Nombre d'annonces enregistrées:{{ nbannonce }}</h1>


	</div>
{% endblock %}
{% block body %}
<div class="containerAccueil">
	{% set compteur=1 %}
	{% for annonce in annonces %}
	<a href="show/{{annonce.id}}">
		<div class="card{{ compteur }}">
			<img class="vignette" src={{ annonce.email ? '%s/%s%s/%s'| format('public/img',annonce.email,annonce.id,annonce.photo1) : '%s/%s' | format('public/img/','vide.jpg')}} alt="photo{{compteur}}" width="150px">
			<h1>{{annonce.id}}.{{annonce.nom}} <br> </h1>
			<h2>{{annonce.prix}}€</h2>
			<!--Ancienne ecriture
			<img class="vignette" src="public/img/{{annonce.email}}{{annonce.email ? annonce.id: null }}/{{annonce.email ? annonce.photo1: 'vide.jpg'}}" alt="image{{compteur}}" width="150px">
			-->
		</div>
	</a>
	{% endfor %}</div>



{% endblock %}
{% block footer %}
	<footer></footer>
{% endblock %}
{% block script %}{% endblock %}

