{% extends "base.html.twig" %}
{% block pagetitle %}Accueil
{% endblock %}


{% block header %}
	<navbar>
<a class="nav" href="../Otroc/">LOGO</a>
		<span>SLOGAN</span>
		<a class="nav" href="ajout">AJOUT</a>
	</navbar>
{% endblock %}
{% block recherche %}
{% set nbannonce = 0 %}
{% for annonce in annonces %}
	{% set nbannonce = nbannonce + 1 %}
{% endfor %}


	<div class="containerRecherche">
<h1>
	Nombre d'annonces enregistrées:{{ nbannonce }}</h1>


	</div>
{% endblock %}
{% block body %}
<div class="containerAccueil">
	{% set compteur=1 %}
	{% for annonce in annonces %}

	{% if compteur <= 10 %}
	<a href="show/{{annonce.id}}">
		<div class="card{{ compteur }}">
			<img class="vignette" src="public/img/{{annonce.email}}{{annonce.email ? annonce.id: null }}/{{annonce.email ? annonce.photo1: 'vide.jpg'}}" alt="image{{compteur}}" width="150px">
<h1>{{ compteur}}.{{ annonce.nom }}</h1>


			<h2>{{ annonce.prix }}€</h2>
			{% set compteur = compteur+1 %}
		</div>
	</a>
	{% else %}
		{% set compteur = 1 %}
		<a href="show/{{annonce.id}}">
		<div class="card{{ compteur }}">
			<img class="vignette" src="public/img/{{annonce.photo1}}{{annonce.email ? annonce.id: null }}/{{annonce.email ? annonce.photo1: 'vide.jpg'}}" alt="photo{{compteur}}" width="150px">
			<h1>{{ compteur}}.{{ annonce.nom }}</h1>
			<h2>{{ annonce.prix }}€</h2>
			{% set compteur = compteur+1 %}
		</div>
	</a>
	{% endif %}
	
	{% endfor %}</div>



{% endblock %}
{% block footer %}
	<footer></footer>
{% endblock %}
{% block script %}{% endblock %}

