{% extends "base.html.twig" %}
{% block pagetitle %}Annonce n°:
{{annonce.id}}


{% endblock %}
{% set compteur=1 %}
{% block css %}
	
	<link rel="stylesheet" href="../public/css/style-form.css">
{% endblock %}
{% block header %}
	<navbar baseurl="">
<a href="../../Otroc/"><img class="logo" src="../public/img/logo.png"></a>
<span>Vendez vos stocks!</span>
<a class="nav" href="../../Otroc/">RETOUR</a>


	</navbar>
{% endblock %}

{% block recherche %}{% endblock %}

{% block body %}
<div class="containerForm">
	<div class="card1">
		<label for="titre"><h1>Titre:</label>{{annonce.nom}}</h1>
		<label for="categorie"><h1>Catégorie:</label>{{annonce.categorie}}</h1>
		<label for="prix"><h1>Prix:</label>{{annonce.prix}}</h1>
	</div>
	<div class="card1">
	<a href="../../Otroc/public/pdf/annonce{{annonce.id}}.pdf">
		<label for="image1"></label>
		<img class="vignette" src="../public/img/pdf.png" alt="pdf">
	</a>
	</div>
	<div class="card1">
		<label for="description"><h1>Description:</label>{{annonce.description}}</h1>
		<label for="email"><h1>Email:</label>{{annonce.email}}</div></h1>
	</div>
</div>	
<div class="containerImage">
	<div class="card1">
		<label for="image1"></label>
		<img class="vignette" src={{annonce.photo0?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo0):'%s/%s'|format('../public/img','vide.jpg')}} alt="image1" width="150px">
		<!--<img class="vignette"src="../public/img/{{annonce.email}}{{annonce.email?annonce.id}}/{{annonce.photo0?annonce.photo0:'vide.jpg'}}"alt="image1">-->
	</div>
	<div class="card1">
		<label for="image2"></label>
		<img class="vignette" src={{annonce.photo1?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo1):'%s/%s'|format('../public/img','vide.jpg')}} alt="image2" width="150px">
	</div>
	<div class="card1">
		<label for="Photo3"></label>
		<img class="vignette" src={{annonce.photo2?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo2):'%s/%s'|format('../public/img','vide.jpg')}} alt="image3" width="150px">
	</div>
	<div class="card1">
			<label for="Photo4"></label>
		<img class="vignette" src={{annonce.photo3?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo3):'%s/%s'|format('../public/img','vide.jpg')}} alt="image4" width="150px">
	</div>
	<div class="card1">
		<label for="Photo5"></label>
	<img class="vignette" src={{annonce.photo4?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo4):'%s/%s'|format('../public/img','vide.jpg')}} alt="image1" width="150px">
	</div>
</div>
{% endblock %}
{% block footer %}<footer></footer>{% endblock %}


