{% extends "base.html.twig" %}
{% block pagetitle %}Modification d'une Annonce N°:{{annonce.id}}

{% endblock %}
{% block css %}
	<link rel="stylesheet" href="../public/css/style.css">
	<link rel="stylesheet" href="../public/css/style-form.css">
{% endblock %}
{% set compteur=1 %}


{% block header %}
<navbar>

	<a	href="../../Otroc/"><img class="logo" src="../public/img/logo.png"></a>
	<span>Vendez vos Stocks!!</span>
	<a href="../../Otroc/">RETOUR</a>


</navbar>
{% endblock %}

{% block recherche %}{% endblock %}


{% block body %}
<main>
	<form action="" method="post" enctype="multipart/form-data">
		<div class="ContainerForm">
			<div class="card1">
				<label for="titre">Titre:</label>
				<input type="text" name="nom" id="nom" placeholder="Titre de l'annonce" required value="{{annonce.nom}}"><br>
				<label for="categorie">Catégorie:</label>
				<input type="text" name="categorie" id="catégorie" placeholder="catégorie" value="{{ annonce.categorie }}"><br>
				<label for="prix">Prix:</label>
				<input type="float" name="prix" id="prix" placeholder="prix" required value="{{ annonce.prix}}" min="0" step="any" >
			</div>
			<div class="card2">
				<label for="description">Description:</label>
				<textarea name="description" id="description" value="{{annonce.description}}">{{ annonce.description}}</textarea><br>
				<label for="mail">Email:</label>
				<input type="mail" name="email" id="email" placeholder="email pour vous joindre" required value="{{annonce.email}}"><br>
			</div>
		</div>
		<div class="containerImage">
			<!--card 0-->
			<div class="card1">
				<label for="photo0">
					<input class="inputimage" type="file" onchange="handleFiles(files,0)" name="photo0" id="photo0">
					<span id="preview0"><img class="vignette" src="{{annonce.photo0?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo0):'%s/%s'|format('../public/img','vide.jpg')}}" alt="image1"></span>
				</label>
			</div>
			<!--card 1 -->
			<div class="card1">
				<label for="photo1">
					<input class="inputimage" type="file" onchange="handleFiles(files,1)" name="photo1" id="photo1">
					<span id="preview1"><img class="vignette" src="{{annonce.photo1?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo0):'%s/%s'|format('../public/img','vide.jpg')}}" alt="photo2"></span>
				</label>
			</div>
			<!--card 2 -->
			<div class="card1">
				<label for="photo2">
					<input class="inputimage" type="file" onchange="handleFiles(files,3)" name="photo2" id="photo2">
					<span id="preview2"><img class="vignette" src="{{annonce.photo2?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo2):'%s/%s'|format('../public/img','vide.jpg')}}" alt="photo3"></span>
				</label>
			</div>
			<!--card 3 -->
			<div class="card1">
				<label for="photo3">
					<input class="inputimage" type="file" onchange="handleFiles(files,3)" name="photo3" id="photo3">
					<span id="preview3"><img class="vignette" src="{{annonce.photo3?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo3):'%s/%s'|format('../public/img','vide.jpg')}}" alt="photo4"></span>
				</label>
				</div>
			<!--card 4 -->
			<div class="card1">
				<label for="photo4">
					<input class="inputimage" type="file" onchange="handleFiles(files,4)" name="photo4" id="photo4">
					<span id="preview4"><img class="vignette" src="{{annonce.photo4?'%s/%s%s/%s'|format('../public/img',annonce.email,annonce.id,annonce.photo4):'%s/%s'|format('../public/img','vide.jpg')}}" alt="photo{{i}}"></span>
				</label>
			</div>
		</div>
		<div class="containerBoutton">
			<button type="submit">Modifier</button>
			<button type="reset">Annuler</button>
		</div>
	</form>
</main>
{% endblock %}
{% block script %}
	<script type="text/javascript">
function handleFiles(files,valeur) {
	var imageType = /^image\//;
	for (var i = 0; i < files.length; i++) {
	var file = files[i];
	if (! imageType.test(file.type)) {
	alert("veuillez sélectionner une image");
	} else {
	if (i == 0) {
		switch (valeur){
			case 0:
				preview0.innerHTML = '';
				break;
			case 1:
				preview1.innerHTML = '';
				break;
			case 2:
				preview2.innerHTML = '';
				break;
			case 3:
				preview3.innerHTML = '';
				break;
			case 4:
				preview4.innerHTML = '';
				break;
		}
		
	}
	var img = document.createElement("img");
	img.classList.add("obj");
	img.file = file;
	switch (valeur){
			case 0:
				preview0.appendChild(img);
				break;
			case 1:
				preview1.appendChild(img);
				break;
			case 2:
				preview2.appendChild(img);
				break;
			case 3:
				preview3.appendChild(img);
				break;
			case 4:
				preview4.appendChild(img);
				break;
		}
	
	var reader = new FileReader();
	reader.onload = (function (aImg) {
	return function (e) {
	aImg.src = e.target.result;
	};
	})(img);

	reader.readAsDataURL(file);
	}

	}
	}
	/*function handleFiles2(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview2.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview2.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles3(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview3.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview3.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}
function handleFiles4(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview4.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview4.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);

}

}
}
function handleFiles5(files) {
var imageType = /^image\//;
for (var i = 0; i < files.length; i++) {
var file = files[i];
if (! imageType.test(file.type)) {
alert("veuillez sélectionner une image");
} else {
if (i == 0) {
preview5.innerHTML = '';
}
var img = document.createElement("img");
img.classList.add("obj");
img.file = file;
preview5.appendChild(img);
var reader = new FileReader();
reader.onload = (function (aImg) {
return function (e) {
aImg.src = e.target.result;
};
})(img);

reader.readAsDataURL(file);
}

}
}*/
	</script>
{% endblock %}
{% block footer %}
	<footer></footer>
{% endblock %}






